@import '../../globalStyles/config';

.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  header {
    text-align: center;
    h1 {
      color: $text-accent-color;
    }
    h2 {
      margin: 1em 0;
    }
    .btn-dispatch {
      gap: 3px;
      justify-content: center;
    }
  }

  form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    input,
    button {
      padding: 0.5em;
      font-size: 1rem;
      border: 0;
    }

    input {
      background-color: whitesmoke;
    }

    span {
      text-align: center;
      padding: 0.5em 1em;
    }
  }
}
