@import 'config';

.app.dark {
  background-color: $bg-dark;
  color: $text-primary-light;
  input {
    background-color: transparent;

    &::placeholder {
      color: $text-primary-light;
    }
  }

  .shadow {
    box-shadow: $box-shadow-light;
  }

  .text-accent {
    color: $text-accent-light;
  }
  .image-proc-text {
    color: $text-primary-light;
  }

  .positive {
    @include set-color($positive-light);
  }
  .negative {
    @include set-color($negative-light);
  }
  .accent {
    @include set-color($accent-light);
  }
  .accent-secondary {
    @include set-color($accent-secondary-light);
  }

  .sidebar {
    .menu-toggle {
      background-color: $bg-dark;
      color: $text-primary-light;
    }
    nav {
      background-color: $bg-dark;
      color: $text-primary-light;
      h2,
      .icon {
        color: $text-accent-light;
      }
    }
  }

  .search {
    border-color: $text-primary-light;
    input,
    button {
      color: $text-primary-light;
    }
  }

  .dataTable {
    th {
      button {
        color: $text-primary-light;
      }

      &:hover {
        background-color: $bg-darker;
      }
    }
  }

  .userCard {
    h1 {
      color: $text-primary-light;
    }

    .input-title {
      color: $text-primary-light;
    }

    input {
      border-bottom: 2px solid $text-primary-light;
    }
  }

  .userCardRow {
    input,
    textarea,
    span {
      background-color: $bg-dark;
      border: 0;
      color: $text-primary-light;
    }
    textarea {
      border: 2px solid $text-primary-light;
      padding-left: 5px;
    }
    input {
      border-bottom: 2px solid $text-primary-light;
    }
  }

  .imagePreview {
    color: $text-primary-light;
  }

  .imageUpload {
    label {
      color: $text-primary-light;
    }
  }

  .image-load-text {
    color: $text-primary-light;
  }
}
