@import 'config';

.app.light {
  background-color: $bg-light;
  color: $text-dark;
  input {
    background-color: transparent;

    &::placeholder {
      color: $text-primary-color;
    }
  }

  h2,
  h3 {
    color: $text-primary-color;
  }

  .shadow {
    box-shadow: $box-shadow;
  }

  .text-accent {
    color: $text-accent-light;
  }
  .image-proc-text {
    color: $text-primary-light;
  }

  .positive {
    @include set-color($positive-color);
  }
  .negative {
    @include set-color($negative-color);
  }
  .accent {
    @include set-color($accent-color);
  }

  .sidebar {
    .menu-toggle {
      background-color: inherit;
      color: inherit;
    }
    nav {
      background-color: inherit;
      color: $text-primary-color;
      h2,
      .icon {
        color: $text-accent-color;
      }
    }

    .theme-square {
      border-color: $text-accent-color;
    }
  }

  .search {
    border-color: $text-primary-light;
    input,
    button {
      color: $text-primary-color;
    }
  }

  .dataTable {
    th {
      color: $text-primary-color;
      button {
        color: inherit;
      }

      &:hover {
        background-color: $text-primary-light;
      }
    }
  }

  .userCard {
    h1 {
      color: $text-primary-dark;
    }

    .input-title {
      color: $text-primary-dark;
    }

    input {
      border-bottom: 2px solid $text-primary-light;
    }
  }

  .userCardRow {
    input,
    textarea,
    span {
      background-color: $bg-light;
      border: 0;
      color: $text-primary-color;
    }

    textarea {
      border: 2px solid $text-primary-light;
      padding-left: 5px;
    }

    input {
      border-bottom: 2px solid $text-primary-light;
    }
  }

  .imagePreview {
    color: $text-primary-color;
  }

  .imageUpload {
    label {
      color: $text-primary-color;
    }
  }

  .image-load-text {
    color: $text-primary-color;
  }
}
