@import 'config';

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    transform: scale(0.98);
  }
}

input {
  background-color: inherit;
  color: inherit;
}

/* DEFAULT PAGE LAYOUT */

.page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-right: 4em;
  padding-bottom: 4em;
  height: 100%;
  min-height: 100vh;
  z-index: 200;

  .right {
    .container {
      padding: 0 2em;
    }
  }

  @include laptop {
    width: calc(100% - $sidebar-width);
    margin-left: $sidebar-width;
    display: block;
    padding: 0;
  }

  @include tablet {
    width: 100%;
    overflow: auto;
    margin-left: 0;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include tablet {
      align-items: center;
    }

    .charts {
      display: flex;
      justify-content: center;
      gap: 2em;

      @include mobile {
        font-size: 0.75rem;
      }
    }
  }
}

/* utility classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.flex-left {
  justify-content: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.flex-row {
  flex-direction: row;
}

.profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-lg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-xl {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
}

.shadow {
  border-radius: 10px;
  box-shadow: $box-shadow;
}

.hidden {
  display: none;
}
.vis-hidden {
  visibility: hidden;
}

.btn-dispatch {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1rem;
  color: inherit;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* component classes */

.tables {
  padding: 2em;
  box-shadow: $box-shadow;
  border-radius: 10px;
  width: 100%;
  max-width: 1500px;
  h2 {
    color: $text-primary-color;
    margin-bottom: 1em;
  }

  @include mobile {
    overflow: auto;
  }
}

/* color classes */
.positive {
  @include set-color($positive-color);
}
.negative {
  @include set-color($negative-color);
}
.neutral {
  @include set-color($neutral-color);
}
.accent {
  @include set-color($accent-color);
}

/* text classes */
.text-positive {
  color: $positive-color;
}
.text-negative {
  color: $negative-color;
}
.text-neutral {
  color: $neutral-color;
}
.text-accent {
  color: $accent-color;
}
.image-proc-text {
  color: $text-primary-light;
}
.text-center {
  text-align: center;
}
