@import 'config';

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    transform: scale(0.98);
  }
}

/* DEFAULT PAGE LAYOUT */
.page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-bottom: 4em;

  .right {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .charts {
      display: flex;
      gap: 2em;
    }
  }
}

/* utility classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.flex-left {
  justify-content: start;
}

.flex-col {
  flex-direction: column;
}

.profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-lg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.shadow {
  border-radius: 10px;
  box-shadow: $box-shadow;
}

.hidden {
  display: none;
}
.vis-hidden {
  visibility: hidden;
}

/* component classes */

.tables {
  padding: 1em;
  box-shadow: $box-shadow;
  border-radius: 10px;
  width: 90%;
  h2 {
    color: $text-primary-color;
    margin-bottom: 1em;
  }
}

/* color classes */
.positive {
  @include set-color($positive-color);
}
.negative {
  @include set-color($negative-color);
}
.neutral {
  @include set-color($neutral-color);
}
.accent {
  @include set-color($accent-color);
}

/* text classes */
.text-positive {
  color: $positive-color;
}
.text-negative {
  color: $negative-color;
}
.text-neutral {
  color: $neutral-color;
}
.text-accent {
  color: $accent-color;
}
