@import '../../globalStyles/config';

.topbar {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include tablet {
    justify-content: center;
    gap: 2em;
  }

  @include mobile {
    justify-content: center;
  }

  .search {
    border: 2px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;

    input {
      border: 0;
      font-size: inherit;
      outline: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 100%;
    @include tablet {
      justify-content: flex-end;
    }
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    position: relative;

    .badge {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: red;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: -0.75rem;
      right: -0.75rem;
    }
  }

  .tablet-hide {
    @include tablet {
      display: none;
    }
  }

  .mobile-hide {
    @include mobile {
      display: none;
    }
  }
}
