@import '../../globalStyles/config';

.basicTable {
  width: 100%;

  @include laptop {
    font-size: 0.7rem;
  }

  th,
  td {
    border: 1px solid lightgray;
    padding: 1em;
  }
  border-collapse: collapse;

  td {
    text-align: center;
  }

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .wrapper {
    border-radius: 5px;
    padding: 0.5em;
  }

  @include mobile {
    .flex {
      flex-direction: column;
    }
  }
}
