@import '../../globalStyles/config';

.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: $box-shadow;
  flex-grow: 1;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: $text-primary-color;
    }

    .link {
      border-bottom: 1px solid $text-primary-color;

      &:hover {
        transform: scale(0.98);
      }
    }
  }

  .change {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .number {
    font-size: 2.5rem;
  }

  .icon {
    padding: 5px;
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
  }
}
