.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  flex-grow: 1;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: gray;
    }
  }

  .change {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .positive {
    color: green;
  }
  .negative {
    color: crimson;
  }

  .number {
    font-size: 2.5rem;
  }
}
