@import '../../globalStyles/config';

.userCardRow {
  display: flex;
  align-items: baseline;
  padding: 0.5em;
  gap: 1em;

  @include tablet {
    align-items: center;
  }

  @include mobile {
    max-width: 20ch;
  }

  h3 {
    text-transform: capitalize;
  }
  .info-val {
    display: block;
    width: 20ch;
    max-height: 10ch;
    overflow: hidden;
    @include mobile {
      width: 10ch;
    }
  }

  .wrapper {
    position: relative;
    padding: 0.5em;
  }

  input,
  textarea {
    position: absolute;
    left: -3px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    color: black;
    font-size: 1rem;
    border: 0;
    width: 100%;
  }
  input {
    border-bottom: 2px solid $text-primary-color;
  }
}
