@import '../../globalStyles/config';

.userCardRow {
  h3 {
    text-transform: capitalize;
  }
  display: flex;
  align-items: baseline;
  @include tablet {
    align-items: center;
  }
  gap: 1em;
  max-width: 40ch;
  overflow: auto;

  @include mobile {
    max-width: 20ch;
  }

  .wrapper {
    position: relative;
  }

  input,
  textarea {
    position: absolute;
    left: -3px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    color: black;
    font-size: 1rem;
    border: 0;
  }
}
