@import '../../globalStyles/config';

.dataTable {
  margin: 0 auto;
  padding: 1em;

  .top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h1 {
      text-transform: capitalize;
    }

    button {
      padding: 1em;
      border: 0;
      border-radius: 5px;
      font-size: 1rem;
      text-transform: capitalize;
    }
  }

  h1 {
    margin-bottom: 1em;
    padding-left: 1rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    button {
      text-transform: capitalize;
      background-color: transparent;
      border: 0;
      font-size: inherit;
      font-weight: 700;
      width: 100%;

      &:hover {
        transform: none;
      }
    }
    .unsorted {
      visibility: hidden;
    }
    &:hover {
      background-color: lightgray;
      .unsorted {
        visibility: visible;
        opacity: 0.5;
      }
    }
  }
  .unsortable:hover {
    background-color: transparent !important;
  }

  .action button {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.5em;
    background-color: transparent;
    font-size: 1rem;
  }

  th,
  td {
    text-align: left;
    padding: 1em;
  }

  input {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    border-radius: 5px;
    padding: 0.5em;
    text-align: center;
    text-transform: capitalize;
  }

  @include laptop {
    td.flex {
      flex-direction: column;
      text-align: center;
    }

    /*  .top {
      margin-bottom: 2em;
    } */
  }
}
